<footer class="footer" style="justify-content: center;">
  <div>
    <img src="./_images/red_hat_logo.png" height="40px" alt="Cloud Native Architecture Solution Patterns" href="https://redhat.com">
  </div>
</footer>
